.totally-not-a-spinner {
  /* border: 1px solid black; */
  aspect-ratio: 1 / 1;
  position: relative;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  animation: indentedAnimation 3s linear 0s infinite;
  z-index: 0;
}

.totally-not-a-spinner::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background: repeating-conic-gradient(#fff 0 20deg, #2e09b1 120deg 50deg);

  mask-image: radial-gradient(circle/* at center 100%*/, rgba(0, 0, 0, 0) 45%, black 42%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}


.totally-not-a-spinner::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 36%;
  width: 27%;
  height: 27%;
  background: repeating-conic-gradient(#000000 0 15deg, #fff 71deg 30deg);
  border-radius: 50%;
  z-index: 10;
  animation: indentedAnimation 2s linear 0s infinite reverse;
  box-shadow: 0 0 0 2px white;
}

@keyframes indentedAnimation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
