.totally-not-a-spinner {
  /* border: 1px solid black; */
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* INDENTED */

.indented {
  width: 10%;
  animation: indentedAnimation 1s linear 0s infinite;
  z-index: 0;
}

.indented::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: #adf;

  mask-image: radial-gradient(circle at center 100%,  rgba(0, 0, 0, 0) 22%, black 22%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}


.indented::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 36%;
  width: 25%;
  height: 25%;
  background: conic-gradient(
    red,
    green,
    blue,
    red
  );
  border-radius: 50%;
  z-index: 10;
  animation: indentedAnimation 0.5s linear 0s infinite reverse;
}

@keyframes indentedAnimation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
